.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 2fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar"
      ". profile-pic profile-info profile-info profile-info."
      ". content content content content .";
  }
  
  .nav-bar { grid-area: nav-bar; 
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    }
  
  .profile-pic { 
    grid-area: profile-pic;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #prof-img{
        max-width: 100%;
        height: auto;
    }
  .profile-info { 
    grid-area: profile-info; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 5vm;
    }
  
  .profile-info h1{
    align-self: center;
  }

  .content { 
    grid-area: content; 

    }
  
  .nav-bar >a{
    color: aliceblue;
    text-decoration: none;
  }

  .post-card {
    padding: 5px;
    border: 1px solid black;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .card-links{
    display: flex;
    justify-content: space-around;
  }

  .card-links a {
    text-decoration: none;
    color: black;
  }

  .card-links a:hover{
    color: brown;
  }